.card-list__gallery {
  padding: 70px 0 10px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.card-list__more {
  width: 320px;
  height: 35px;
  margin: 50px auto 80px;
  display: block;
  background-color: #202020;
  border: 1px solid #424242;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: #fff;  
}
