.profile {
  width: 100%;
  max-width: 550px;
  padding: 75px 70px 70px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.profile__title {
  margin: 0;
  margin-bottom: 123px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}

.profile__form {
  width: 100%;
  min-height: 298px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.profile__label {
  
  display: flex;
  justify-content: space-between;
  padding-bottom: 7px;
  border-bottom: 1px solid #424242;

  font-weight: 500;
  font-size: 11px;
  line-height: 1.18;
  white-space: nowrap;
}

.profile__label_no-border {
  border: none;
}

.profile__input {
  width: 100%;
  padding-bottom: 8px;
  background-color: #202020;
  color: #fff;
  border: none;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.18;
  text-align: right;
  outline: none;
  border-bottom: 1px solid #202020;
}

.profile__input:focus,
.profile__input:hover {
  border-bottom: 1px solid #4285f4;
}

.profile__input:autofill {
  box-shadow: 0 0 0 30px #202020 inset !important;  
  -webkit-text-fill-color: #fff !important;
}

.profile__input_invalid {
  color: #ee3465;
}


.profile__input-error {
  visibility: hidden;
  min-height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #ee3465;
}

.profile__input-error_visible {
  visibility: visible;
}

.profile__button {
  display: block;
  align-self: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: opacity .5s ease;
}

.profile__button:hover {
  opacity: .6;
}

.profile__button_disabled {
  opacity: .5;
  cursor:wait
}

.profile__button_type_submit {
  margin-top: auto;
}

.profile__button_type_exit {
  color: #ee3465;
}

.profile__info {
  margin-bottom: 205px;
}

.profile__info-item {
  padding-bottom: 16px;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
  
  border-bottom: 1px solid #424242;

  font-weight: 500;
  font-size: 11px;
  line-height: 1.18;
}

.profile__info-item:last-child {
  margin-bottom: 0;
  border: none;
}

@media screen and (max-width: 1024px) {
  .profile {
    max-width: 470px;
    padding: 236px 30px 269px;
  }

  .profile__title {
    margin-bottom: 95px;
  }

  .profile__info {
    margin-bottom: 195px;
  }

  /* .profile__form {
    
  } */
}

@media screen and (max-width: 480px) {
  .profile {
    max-width: 100%;
    height: calc(100vh - 74px);
    padding: 70px 30px 40px;
  }

  .profile__title {
    margin-bottom: 80px;
  }

  .profile__info {
    margin-bottom: 0;
  }

  .profile__form {
    margin-bottom: 0;
  }

  .profile__button_type_edit {
    margin-top: auto;
  }

  .profile__button {
    font-size: 12px;
    line-height: 1.25;
  }
}


