.auth-form {
  width: 100%;
  min-height: 380px;
  display: flex;
  flex-direction: column;
}

.auth-form__input-area {
  display: flex;
  flex-direction: column;
}

.auth-form__label {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #8b8b8b;
}

.auth-form__input {
  padding-bottom: 10px;
  background-color: #202020;
  color: #fff;
  border: none;
  border-bottom: 1px solid #424242;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

.auth-form__input:focus {
  outline: none;
  border-bottom: 1px solid #4285f4;
}

.auth-form__input_invalid {
  color: #ee3465;
}

.auth-form__input-error {
  visibility: hidden;
  min-height: 24px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #ee3465;
}

.auth-form__input-error_visible {
  visibility: visible;
}

.auth-form__submit-button {
  margin-top: auto;
  padding: 15px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;

  color: #FFFFFF;
  background-color: #4285f4;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  transition: transform .4s ease;
}

.auth-form__submit-button:hover {
  transform: scale(1.03);
}

.auth-form__submit-button_disabled {
  opacity: .5;
}

.auth-form__submit-button_disabled:hover {
  transform: none;
}

@media screen and (max-width: 480px) {
  .auth-form {
    min-height: auto;
  }

  .auth-form__submit-button {
    font-size: 12px;
  }
}