.about-me {
  padding: 111px 70px 52px;
}

.about-me__heading {
  padding-bottom: 23px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.21;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #DADADA;
}

.about-me__contain {
  margin-top: 66px;
  display: flex;
  gap: 45px;
  justify-content: space-between;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  object-fit: cover;
  border-radius: 10px;
}

.about-me__info {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.about-me__name {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  letter-spacing: -0.04em;
}

.about-me__profession {
  margin-top: 18px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
}

.about-me__description {  
  margin-top: 26px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
}

.about-me__link {
  margin-top: auto;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #fff;
  transition: opacity .5s ease;
}

.about-me__link:hover {
  opacity: .6;
}

@media screen and (max-width: 1024px) {
  .about-me {
    padding: 90px 50px 0;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;    
  }
  .about-me__name {
    font-size: 40px;
    line-height: 1;    
  }

  .about-me__profession {
    margin-top: 16px;
    font-size: 12px;
    line-height: 1.5;
  }

  .about-me__description {    
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 700px) {
  .about-me__contain {
    flex-wrap: wrap-reverse;
    justify-content: center;    
  }

  .about-me__info {
    text-align: center;
  }

  .about-me__link {
    margin-top: 40px;
  }
}

@media screen and (max-width: 480px) {
  .about-me {
    padding: 70px 14px 0;
  }

  .about-me__heading {
    padding-bottom: 28px;
    font-size: 18px;
  }
  
  .about-me__contain {
    margin-top: 60px;
  }

  .about-me__photo {
    width: 292px;
    height: 352px;    
  }

  .about-me__info {
    text-align: start;
  }

  .about-me__name {
    font-size: 30px;
    line-height: 1,21;    
  }

  .about-me__profession {
    margin-top: 25px;
    font-size: 11px;
    line-height: 1.45;
  }

  .about-me__description {    
    margin-top: 20px;
    font-size: 11px;
    line-height: 1.45;
  }
}