.nav-tab {
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-tab__links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-tab__link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  transition: opacity .5s ease;
}

.nav-tab__link:hover {
  opacity: .6;
}

.nav-tab__link_type_login {
  padding: 8px 20px;
  color: #000;
  background-color: #3ddc84;
  border-radius: 3px;
  transition: all .4s ease;
}

.nav-tab__link_type_login:hover {
  transform: scale(1.1);
  opacity: 1;
}

@media screen and (max-width: 480px) {
  .nav-tab__links {
    gap: 14px;
  }
  
  .nav-tab__link {
    font-size: 10px;
    line-height: 1.6;
  }

  .nav-tab__link_type_login {
    padding: 5px 12px;
  }
}
